body,
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3068D9;
}


/* .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */

.tabuleiro {
    display: flex;
    justify-content: center;
}

.tabuleiro .coluna {
    display: flex;
    flex-direction: column;
    border-right: 3px solid white;
}

.tabuleiro .coluna:last-child {
    border: none;
}

.tabuleiro .area {
    width: 105px;
    height: 105px;
    border-bottom: 3px solid white;
    color: #e4e4e4;
    font-size: 5em;
    font-weight: 100;
    text-align: center;
}

.tabuleiro .area:last-child {
    border: none;
}

span {
    user-select: none;
    margin: 0;
}

#alerta {
    position: absolute;
    margin: 130px auto;
    font-family: inherit;
    z-index: 3;
}

.modalClass {
    background: #FFF;
    width: 200px;
    padding: 20px;
    display: block;
    margin-bottom: 10px;
    animation-name: exibe;
    animation-duration: 0.4s;
}

.remover {
    animation: some .4s;
    animation-fill-mode: forwards;
}

@keyframes exibe {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes some {
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-200%);
    }
}